In [1]:
import pandas as pd
import numpy as np
import pickle

In [9]:
with open("df_both.pkl", 'rb') as picklefile: 
    df = pickle.load(picklefile)

In [59]:
df_grouped = df.groupby(['application_type','purpose']).count().reset_index()

In [60]:
df_grouped = df_grouped[['application_type','purpose','id']]
df_grouped.columns = ['application_type','purpose','count']

In [61]:
df_grouped.head()

  application_type             purpose   count
0       INDIVIDUAL                 car    3650
1       INDIVIDUAL         credit_card   50294
2       INDIVIDUAL  debt_consolidation  149076
3       INDIVIDUAL         educational     322
4       INDIVIDUAL    home_improvement   14955

In [62]:
df_grouped = df_grouped.pivot(index='application_type', columns='purpose', values='count')
df_grouped.fillna(0,inplace=True)

In [64]:
df_grouped.to_csv('donut_data.csv')

In [63]:
df_grouped.head()

purpose,car,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding
application_type,,,,,,,,,,,,,,
INDIVIDUAL,3650.0,50294.0,149076.0,322.0,14955.0,1659.0,6262.0,2858.0,2036.0,14306.0,267.0,4760.0,1591.0,1953.0
JOINT,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0