In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open("df_inv.pkl", 'rb') as picklefile: 
    df = pickle.load(picklefile)

In [9]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [21]:
df['state'] = df.addr_state.apply(lambda x: states.get(x))

In [35]:
state_counts = pd.DataFrame(df['state'].value_counts()).reset_index()
columns = ['state','value']
state_counts.columns = columns
state_counts.set_index('state')

                      value
state
California            43289
New York              21431
Texas                 19440
Florida               17629
New Jersey             9640
Illinois               9276
Pennsylvania           8426
Georgia                8044
Virginia               7964
Ohio                   7769
North Carolina         6948
Massachusetts          6163
Arizona                6112
Michigan               6026
Maryland               6024
Washington             5934
Colorado               5637
Minnesota              4474
Missouri               3968
Nevada                 3832
Connecticut            3688
Oregon                 3357
Alabama                3153
Wisconsin              3089
Louisiana              2963
South Carolina         2832
Indiana                2819
Tennessee              2447
Kentucky               2281
Oklahoma               2138
Utah                   2118
Kansas                 2085
Arkansas               1760
Hawaii                 1481
New Mexico             1385
New Hampshire          1150
West Virginia          1143
Rhode Island           1092
District of Columbia    835
Montana                 742
Delaware                670
Alaska                  665
Wyoming                 603
South Dakota            543
Vermont                 428
Mississippi             425
Nebraska                 38
Maine                    13
North Dakota              8
Iowa                      6
Idaho                     6

In [38]:
state_counts.to_csv('loans_by_state.csv',index=False)

In [42]:
state_default_counts = pd.DataFrame(df[df.loan_status=='Default']['state'].value_counts()).reset_index()
columns = ['state','value']
state_default_counts.columns = columns
state_default_counts.set_index('state')

                      value
state
California             7539
New York               4230
Florida                3616
Texas                  3140
New Jersey             1888
Pennsylvania           1594
Illinois               1569
Ohio                   1509
Virginia               1463
Georgia                1395
North Carolina         1337
Michigan               1182
Maryland               1121
Arizona                1087
Massachusetts          1045
Washington             1007
Nevada                  830
Minnesota               821
Colorado                809
Missouri                796
Alabama                 669
Indiana                 645
Connecticut             621
Tennessee               584
Louisiana               582
Oregon                  551
Wisconsin               549
South Carolina          463
Kentucky                451
Oklahoma                428
Kansas                  361
Utah                    357
Arkansas                345
Hawaii                  283
New Mexico              277
Rhode Island            196
West Virginia           165
New Hampshire           160
Delaware                125
Montana                 101
Alaska                   98
South Dakota             91
Mississippi              90
District of Columbia     89
Wyoming                  83
Vermont                  71
Nebraska                  4
Iowa                      1
Idaho                     1

In [43]:
state_default_counts.to_csv('defaults_by_state.csv',index=False)

In [44]:
df.loan_status.value_counts()

Fully Paid    207570
Default        46419
Name: loan_status, dtype: int64